
p {
	display: inline;
}

a {
	text-decoration: none;
}	

a:link {
	color: yellow;
}

a:visited {
	color: gray;
}
		
body {
	background-image: url('https://holedigging.club/screencaps/screencaps/SSR_manga/-gvlmHEcE5j3wtSwKlPZkIAa43ylGjouPIeSa81dbhQ.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	max-height: 100%;
	background-color: #010101;
	color: white;
	overflow: auto;
}

.essay {
	display: box;
	left: 25%;
	margin: 10px auto auto auto;
	font-family: monospace;
	background-color: #010101;
	width: 50%;
	max-width: 50%;
	padding: 5px;
	border-style: ridge;
	border-width: 2px;
	border-color: #ffffff;
}

.essay-quote {
	font-style: italic;
	text-align: center;
	padding: 20px;
}

.essay-text {
	text-align: left;
	margin: auto;
	word-wrap: break-word;
}

.link-to-essay {
	font-style: bold;
	font-size: 1.2em;
	text-align: center;
}

.essay-supplement-a {
	display: inline;
	text-decoration: underline;
	color: yellow;
}

.essay-supplement-a:hover {
	color: gray;
}

.essay-supplement-a:hover .essay-supplement {
	visibility: visible;
	opacity: 1;
}

.essay-supplement {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.25s;
	position: absolute;
	z-index: 1;
	max-width: 300px;
	color: white;
	font-style: italic;
	text-align: center;
	background-color: black;
	padding: 10px;
	outline-color: yellow;
	outline-width: 1px;
	outline-style: solid;
}
