body {
	background-image: url('https://holedigging.club/images/ai-lang.jpeg');
	background-size: cover;
}

h1 {
	background-color:yellow;
	margin: auto;
	display: inline;
	position: relative;
	left: 34%;
	top: 50px;
	outline-style: solid;
	outline-width: 3px;
	outline-color: darkgray;
}

.player-div {
	background-color: white;
}

#queue {
	font-family: monospace;
	display: block;
	padding: 10px;
	outline-width: 2px;
	outline-style: solid;
}

#player-toplevel {
	position: absolute;
	display: inline;
	top: 40%;
	right: 41%;
	margin: auto;
	padding: 10px;
	outline-width: 5px;
	outline-style: solid;
}
